/hw1/screenies/*
/hw2/screenies/*
/hw3/screenies/*
/hw4/screenies/*
/hw4/data1.mat
/hw4/data2.mat
/hw4/.DS_Store
/hw5/octave-core
/hw5/stackexchange.txt

/*/faces.mat

/vlfeat/*
octave-core

*.pdf
*~
*.zip
